.navbar {
  background-color: #1450a3;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}

.cart-link {
  display: flex;
  align-items: center;
}
