* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  padding-top: 8px;
  /* background-color: #0a3d62; */
  color: azure;
  height: 100%;
  width: 100%;
  margin-bottom: 35px;
}

.box {
  position: relative;
  background-color: white;
  color: black;
  /* height: 400px;
  width: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
}

.box h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-buttons {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: red;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 50px;
}

.slick-next {
  right: 50px;
}

.slick-dots li.slick-active button:before {
  color: rgb(43, 255, 0) !important;
}

.slick-dots li button:before {
  color: black;
  font-size: 1rem !important;
  top: 2rem !important;
}

.link-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  color: #0a3d62;
}

.link-container div {
  display: flex;
  align-items: center;
}

.link-container a {
  color: rgb(0, 44, 44);
  text-decoration: none;
  margin-left: 10px;
}
